.secondScreenSection {
  background-image: url(../../assets/fon-pat.webp);
  background-size: contain;
  background-position: center;
  padding: 0 10px;
  height: 100vh;
  z-index: 1;
  @media(max-width:606px){
    height: auto;
  }
  &__title {
     background: -webkit-linear-gradient(#F9E994, #537D13,#483C08 );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
    font-size: 52px;
    width: 578px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @media(max-width:768px){
      font-size: 48px;
      padding: 2%;
    }
  @media(max-width:606px){
font-size: 42px;
width:300px;
padding: 20px 0 12px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   @media(max-width:606px){
flex-direction: column;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 10px;
    margin: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #f6e791;
    border-radius: 10px;
    z-index: 1;
    @media(max-width:906px){
width:200px;
    }
     @media(max-width:756px){
width:150px;
    }
  @media(max-width:606px){
width: 250px;
margin: 10px auto;

  }
  }
  &__img {
    max-width: 200px;
    padding-bottom: 10px;
  @media(max-width:756px){
width:150px;
    }
  }
  &__info {
   background-color: rgba(161, 211, 55, 0.4);
    border-radius: 10px;
    &_title {
      font-size: 22px;
      color: #ffffff;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    &_text {
        padding: 0 15px;
      font-size: 18px;
      color: #483C08;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      @media(max-width:756px){
font-size: 15px;
padding: 0 10px;
    }
    }
  }
}
