           .firstScreenSection{
background-image: url(../../assets/—Pngtree—green-fresh-sky-grass-illustration_920699-2.webp);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
width: 100vw;



           }
